body {
	font-family: 'Open Sans', sans-serif;
}


#main-header {
	background-image: url(http://lorempixel.com/nature/600/300);
	/*background-color: red;*/
	background-size: 900px 300px;
	width: 100%;
	text-align: center;

}

img {
	max-width: 100%
}

footer {
	color: green;
}